html * {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif !important;
}

#site-header {
    padding: 12px 32px;
    color: #222;
    font-weight: bold;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid transparent;
}

.flex-child:first-child {
    margin-right: 20px;
}

.navbar {
    background-color: #fbe39b;
    color: #fff;
    border-bottom: 1px solid #000;
}

.nav-item {
    background-color: #fff;
    padding: 12px;
}

.nav-link,
.nav-brand {
    color: #394c53;
}

.nav-link:hover {
    color: #222;
    font-weight: bold;
}

.nav-item {
    background-color: inherit;
}