 /* CSS comes here */

img {
    margin-top: 3%;
    margin-left: 25%;
    border: 5px solid #e3e5e8;
    padding: 25px;
} 

input[type=file]{
    margin-bottom: 3%;
    margin-left: 25%;
    border: 2px solid #e3e5e8;
    padding: 25px;
    padding:10px;
    font-weight: bold;
    font-size: large;
}
